@model Deepleo.Web.Models.DLRecommendationAutoAnswer

@{
    ViewBag.Title = "回复消息";
}

<h2>回复消息</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoAuswerText)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-info" href='@Url.Action("Edit", "DLRecommendationAutoAnswers", new { id = Model.AutoAnswerId })'>
        编辑
    </a>
    <a class="btn btn-info" href='@Url.Action("Index", "DLRecommendationAutoAnswers")'>
        返回列表
    </a>
</p>
