
@{
    ViewBag.Title = "后台设置";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <br />
            <a class="btn btn-warning btn-large btn-block" href='@Url.Action("Index", "DLRecommendationRewardPeriods")'>设置奖励期</a>
            <a class="btn btn-success btn-large btn-block" href='@Url.Action("Index", "DLRecommendationAutoAnswers")'>设置回复消息</a>
        </div>
    </div>
</div>

<style type="text/css">
    .btn {
        width: 100%;
    }
</style>
